// @import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/commons";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;

body {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
