.item {
  animation: fadeIn 1s ease 0s 1 normal;
  -webkit-animation: fadeIn 1s ease 0s 1 normal;

  @keyframes fadeIn {
      0% {opacity: 0}
      100% {opacity: 1}
  }

  @-webkit-keyframes fadeIn {
      0% {opacity: 0}
      100% {opacity: 1}
  }

  @media screen and (max-width: 768px) {
    .itemText {
      font-size: 1rem;
    }
  }
}

.itemText {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: pre !important;
}

.itemContentRoot {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: pre !important;
}
